@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto&family=Roboto+Condensed:wght@200&family=Sofia&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F1F2F6;
}

.head-section{
    margin: 0;
    padding: 0;
    height:80px;
    width:100%;
    /* background-color: rgb(182, 170, 170); */
    margin:10px;
    padding-top: 20px;
    padding-left: 20px;
}

.menu h3{
    margin:0;
    float: left;
    padding-right:50px;
    padding-right: 10px;

}

.menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    
}

.menu a:hover{
    text-decoration: none;
    background-color: tomato;
    padding: 10px;
}

.fst-heading{
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sofia', cursive;
    color: rgb(22, 22, 22);
    margin-bottom: 40px;
    padding-bottom: 40px;
    padding-left: 400px;
    text-shadow: 6px 3px 4px rgb(255, 238, 0);
    
    
}


.heading{
    /* background-color: aquamarine; */
    height: 350px;
    width: 100%;
    background-image: url(images/home\ design2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1365px;
    padding-bottom: 220px;
    /* background-position: center; */
    /* opacity: 70%; */
}

.section2{
    margin: auto;
    padding-top: 0;
    height: 350px;
    width: 80%;
    background-color: rgb(65, 65, 65);
    align-items: center;
}

.head2{
    margin: auto;
    text-align: center;
    font-size: 32px;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sofia', cursive;
    margin-bottom: 30px;
}

.section2 img{
    height: 300px;
    width: 300px;
    padding: 20px;
}

.article{
    width:60%;
    height:300px;
    margin: 50px auto;
    background-color:rgb(36, 228, 228);
    padding: 50px;
    word-spacing: 3px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border: 15px solid yellow;
   border-radius: 10% 30%;
   box-shadow: 20px 20px 15px black;
    
}

.login-form{
    height: 400px;
    width:350px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
   
.fb h1{
    text-align: center;
    margin-top: 200px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-weight:bolder;
    color: #1777F2;
}

.login-form h3{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-family: roboto;
    font-weight: 550;
    padding-top: 20px;
}

.input-fill{
    margin-left: 35px; 
   
}

.input-fill input{
    height: 30px;
    width: 280px;
    border-radius:5px;
    
}

::placeholder{
    color: #999CA1;
    padding-left: 10px;
}


.log-in{
    background-color: #1977F1;
    height: 35px;
    width: 280px;
    margin-top: 15px;
    margin-left: 35px;
    border-radius: 5px;
}

#dstb{
    margin-bottom: 40px;
}


